.ApartadoEstados {
    background-color: #f0f0f0;
    width: 25vw;
    height: 75vh;
    z-index: 1;
    border-radius: 1vh;
    border-color: solid transparent;
    font-size: 5vh;
    position: absolute;
    box-shadow: 0.5vh 0.5vh 0.75vh #00000050;
}