* {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

.Contenido {
  display: flex;
}

.ApartadoEstados {
  margin: 2.5vw 45vh;
}

.Fondo {
  object-fit: cover;
  height: 72.5vh;
  width: 100vw;
  z-index: 0;
}

